fastapi
pymupdf
langchain
langchain-community
langchain-core
langchain-google-genai
google-genai
groq
langchain-groq
python-multipart
beautifulsoup4
requests
sqlalchemy
psycopg2-binary
pyjwt
uvicorn
python-dotenv
httpx
python-magic
pdfminer.six
pytesseract
pdf2image
opencv-python
layoutparser[detectron2]
spacy
pdfplumber
camelot-py[cv]
fpdf2